<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>TupiTube Desk</string>
    <key>CFBundleDisplayName</key>
    <string>TupiTube Desk</string>
    <key>CFBundleExecutable</key>
    <string>TupiTube</string>
    <key>CFBundleVersion</key>
    <string>0.2.23</string>
    <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>TupiTube Animation</string>
                <key>CFBundleTypeIconFiles</key>
                    <array>
                        <string>tup.png</string>
                    </array>
                <key>LSItemContentTypes</key>
                    <array>
                        <string>co.utopianlab.tup</string>
                    </array>
                <key>CFBundleTypeExtensions</key>
                    <array>
                        <string>tup</string>
                    </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
        </array>
    <key>CFBundleIconFile</key>
    <string>tupitube.desk.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>Created by Utopian Lab</string>
    <key>CFBundleIdentifier</key>
    <string>co.utopianlab.tupitube</string>
    <key>NSCameraUsageDescription</key>
    <string>APPNAME requires access to your computer’s camera.</string>
    <key>NOTE</key>
    <string>Package built by cristiandavid@me.com</string>
</dict>
</plist>
